.hot-accessories-menu{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.hot-accessories-menu-link{
    text-decoration: none;
    color: rgb(59, 59, 59);
    margin: 0.5vmax 1vmax;
    padding: 0.5vmax 0;
}

.hot-accessories-menu-link:hover{
    text-decoration: none;
    color: orangered;
    border-bottom: 2px orangered solid;
}